* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: darkgray;
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
.header {
    position: relative;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
    height: 30px;
    padding: 10px;
}
#navbar {
    position: sticky;
    top: 0;
    transition: all 0.5s ease;
    background-color: white;
    height: 50px;
    width: 100%;
    z-index: 10;
    box-shadow: rgb(0, 0, 0) 0 0 15px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
   


}

ul li a {
    color: rgb(0, 0, 0);
    font-size: 34px;

}

ul li a:hover {
    color: rgba(150, 18, 18, 0.351);
}

.card {
    width: 300px;
    height: 300px;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-top: 100px;
    animation-direction: alternate-reverse;
    animation-name: yure;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;


}

.card:hover {
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
    
}

.card p {
    text-align: center;
    padding-top: 110px;
    font-size: 40px;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}
h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
}
.sofa {
    width: 300px;
    height: 300px;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-top: 100px;
    transition: all 0.5s ease-in-out;
}
.sofa:hover {
    
    transition: all 0.5s ease-in-out;
    transform: scale(1.1) skewX(-25deg);
    cursor: pointer;
}
.sofa p {
    text-align: center;
    padding-top: 110px;
    font-size: 40px;
}
h3 {
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
}
.table {
    width: 300px;
    height: 300px;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-top: 100px;
    transition: all 0.5s ease-in-out;
}
.table:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1) skewX(25deg);
    cursor: pointer;
}
.table p {
    text-align: center;
    padding-top: 110px;
    font-size: 40px;
}
h4 {
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
}
.block {
    width: 300px;
    height: 300px;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-top: 100px;
    transform: scale(1.1) skewX(-25deg);
    transition: all 0.5s ease-in-out;

}
.block:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1) skewX(25deg);
    cursor: pointer;
   
}
.block p {
    text-align: center;
    padding-top: 110px;
    font-size: 40px;
}
h5 {
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
}
.blue {
    width: 300px;
    height: 300px;  
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-top: 100px;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1) skewX(25deg);

}
.blue:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate3d(2, 3, 2, 50deg) skewX(25deg) scale(1.1);
    background-color: aqua;
    cursor: pointer;
}
.blue p {
    text-align: center;
    padding-top: 110px;
    font-size: 40px;
}
h6 {
    text-align: center;
    font-size: 50px;
    margin-top: 200px;
}
.green {
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-top: 100px;
    position: relative;
    transition: all 0.5s ease-in-out;
   

}

.green:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
    animation-name: greene;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    z-index: 1;

}


.green::after {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    background-color: red;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(25deg); ;
    z-index: -1;
   

}


.green ::before {
    content: "";
    display: block;
    width: 300px;
    height: 300px;
    background-color: red;
    opacity: 50%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg); ;
    z-index: -1;
    
    
    
   
}



.green p {
    text-align: center; 
    padding-top: 110px;
    font-size: 40px;
}
.seven {
    font-size: 50px;
    margin-left: 500px;
    position: relative;
    top: 100px;
  
   
}
.yellow {
    width: 300px;
    height: 300px;
    background-color: burlywood;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-top: 400px;
    margin-bottom: 200px;
    animation-name: spiner;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    
   
}
.yellow p {
    text-align: center;
    padding-top: 110px;
    font-size: 40px;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

   

    100% {
        transform: rotate(360deg);
        animation-direction: alternate-reverse;
    }
}
@keyframes yure {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes spiner {
    0% {
        transform: rotate(90deg) scale(1.1) translateY(0%);
    }
    
    50% {
        transform: rotate(180deg) scale(1.3) translateY(50%);
    }
    75% {
        transform: rotate(270deg) scale(1.1) translateY(70%);
    }
    100% {
        transform: rotate(360deg) scale(1.1) translateY(0%);
    }
}



